.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;


}

/* .aboutMe {
    margin-top: 5vh;
    font-family: Verdana, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 500;

    line-height: 1.5;

} */