.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}

.container footer {
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

.mermayImg {

    max-height: 500px;
    border-radius: 7px;
    transition: 0.2s ease-in-out;

}

.mermayImg:hover,
.mermayImg:focus {
    transform: scale(1.02);
}


.bannerImg {
    max-height: 500px;
    border-radius: 7px;
    transition: 0.2s ease-in-out;

}

.bannerImg:hover,
.bannerImg:focus {
    transform: scale(1.02);
}