.navbarContainer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-bottom: 2px solid black;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3px;

}




.navbarContainer div {
    position: relative;
    width: 100%;
    text-align: center;


}

.navbarContainer div a>img {

    max-width: 75%;
}