.titleContainer {
    top: 0;
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-bottom: 2px solid black;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 5px;

}




.titleContainer img {
    max-width: 25%;

}